html, body, div {
  height: 100%;
  text-align: center;
}

body {
  color: #4f4f4f;
  font: 18px 'Roboto Mono', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  font-weight: 300;
}

h1 {
  font-size: 3.3em;
  font-weight: 700;
}

h2 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2em;
}

a {
  cursor: pointer;
}

a.up:before {
    content: '\2227';
    font-size: 1.7em;
    font-weight: bold;
}

a.down:before {
    content: '\2228';
    font-size: 1.7em;
    font-weight: bold;
}

.coffee {
  background: #CA827B;
}

.water {
  background: #7CC7E4;
}

.ratio {
  background: #EAEAEA;
}

.timer {
  background: #D6DBDE;
}

#container {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

#topRow {
  order: 1;
  height: 50%;
}

#bottomRow {
  order: 2;
  height: 50%;
}

.row {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.column {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.title {
  flex: 1;
}

.up {
  flex: 1;
}

.main {
  flex: 3;
}

.down {
  flex: 2;
}

.timer-title {
  flex: 3;
}

.timer-main {
  flex: 3;
}

.start {
  flex: 3;
  display: flex;
  flex-flow: row;
  align-items: stretch;
}

.button {
  flex: 1;
}

input {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  width: 50%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
