html, body, div {
  height: 100%;
  text-align: center;
}

body {
  color: #4f4f4f;
  font: 18px 'Roboto Mono', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  font-weight: 300;
}

h1 {
  font-size: 2.8em;
  font-weight: 700;
  cursor: pointer;
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .2em;
}

a {
  cursor: pointer;
}

a.up-button:before {
  content: '\2227';
  font-size: 1.7em;
  font-weight: bold;
}

a.down-button:before {
  content: '\2228';
  font-size: 1.7em;
  font-weight: bold;
}

a.unit {
  font-size: 1.7em;
  padding: 10px;
}

input {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  width: 65%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Coffee {
  background: #CA827B;
}

.Water {
  background: #7CC7E4;
}

.Ratio {
  background: #EAEAEA;
}

.timer {
  background: #D6DBDE;
}

#container {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.row {
  height: 50%;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.column {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.flex-1 {
  flex: 1;
  display: flex;
  flext-flow: column;
  align-items: center;
  justify-content: center;
}

.flex-2 {
  flex: 2;
  display: flex;
  flext-flow: column;
  align-items: center;
  justify-content: center;
}

.flex-3 {
  flex: 3;
  display: flex;
  flext-flow: column;
  align-items: center;
  justify-content: center;
}
